<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/orders">Food Orders</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item d-none d-md-block" [hidden]="!isPbUser">
      <a class="nav-link" routerLink="/orders" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item d-none d-md-block" [hidden]="!isPbUser">
      <a class="nav-link" routerLink="/people" routerLinkActive="active">We</a>
    </li>
    <li class="nav-item d-none d-md-block" [hidden]="!isPbUser">
      <a class="nav-link" routerLink="/places" routerLinkActive="active">Places</a>
    </li>
    <li class="nav-item d-none d-md-block" [hidden]="!isPbUser">
      <a class="nav-link" routerLink="/budget" routerLinkActive="active">Budget</a>
    </li>
    <li class="nav-item d-none d-md-block" [hidden]="!isPbUser">
      <a class="nav-link" routerLink="/webcam" routerLinkActive="active">Web Cam</a>
    </li>
    <li class="nav-item d-none d-md-block" [hidden]="!isPbUser">
      <a class="nav-link" routerLink="/info" routerLinkActive="active">Info</a>
    </li>
  </ul>

  <ul class="navbar-nav" *ngIf="user">
    <li class="nav-item active">
      <a class="nav-link" href="" (click)="logout()">Logout</a>
    </li>
    <li class="nav-item">
      <img class="avatar" src="{{ user.photoURL }}" width="40" height="40" style="border-radius: 50%">
    </li>
  </ul>
</nav>
