<hr>
<div class="row justify-content-md-center">
  <div class="col-10">
    <div class="form-row">
      <div class="col-6">
        <!--<input type="text" class="form-control" placeholder="Delivery" [(ngModel)]="order.delivery">-->

        <select class="form-control" placeholder="Delivery" [(ngModel)]="order.delivery">
          <option *ngFor="let item of queue;"
                  [value]="item.name">{{ item.name }} - ordered {{ item.ordersAmount }} times</option>
        </select>
      </div>
      <div class="col">
        <select class="form-control" placeholder="Place" [(ngModel)]="order.place">
          <option *ngFor="let place of places;" value="{{place.name}}">{{ place.name }}</option>
        </select>
      </div>
      <button class="btn btn-success"
              *ngIf="state === 'add'"
              (click)="addOrder()"
              [disabled]="!order.delivery || !order.place">Add Order</button>

      <button class="btn btn-success"
              *ngIf="state === 'edit'"
              (click)="updateOrder()"
              [disabled]="!order.delivery || !order.place">Update Order</button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12">
    <app-order-item *ngFor="let order of orders | async; let i = index;"
                    [ngStyle]="{opacity: i ? .7 : 1}"
                    [order]="order"
                    (onEditOrder)="onEdit(order)"
                    (onDeleteOrder)="onDelete(order)"></app-order-item>
  </div>
</div>
