<hr>
<div class="row justify-content-center">
  <div class="col-md-10">
    <div class="form-row">
      <div class="col-md-6 form-group">
        <!--<input type="text" class="form-control" placeholder="Delivery" [(ngModel)]="order.delivery">-->

        <select class="form-control" placeholder="Delivery" [(ngModel)]="order.delivery">
          <option *ngFor="let item of queue;"
                  [value]="item.name">{{ item.name }} - ordered {{ item.ordersAmount }} times</option>
        </select>
      </div>
      <div class="col-md-3 form-group">
        <select class="form-control" placeholder="Place" [(ngModel)]="order.place">
          <option *ngFor="let place of places;" value="{{place.name}}">{{ place.name }}</option>
        </select>
      </div>
      <div class="col-md-3 form-group">
        <button class="btn btn-success"
                *ngIf="state === 'add'"
                (click)="addOrder()"
                [disabled]="!order.delivery || !order.place">Add Order</button>

        <button class="btn btn-success"
                *ngIf="state === 'edit'"
                (click)="updateOrder()"
                [disabled]="!order.delivery || !order.place">Update Order</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-order-item *ngFor="let item of orders | async; let i = index;"
                    [key]="item.key"
                    (onEditOrder)="onEdit(item)"
                    (onDeleteOrder)="onDelete(item, i)"
                    (onMarkCompleted)="onComplete($event, item.key)"></app-order-item>
  </div>
</div>
