<hr>
<div class="row justify-content-between">
  <div class="col-md-9">
    <div class="form-row">
      <div class="col-md-4 form-group">
        <select class="form-control" placeholder="Delivery" [(ngModel)]="order.delivery">
          <option *ngFor="let item of queue;"
                  [value]="item.name">{{ item.name }} - ordered {{ item.ordersAmount }} times</option>
        </select>
      </div>
      <div class="col-md-4 form-group">
        <select class="form-control" placeholder="Place" [(ngModel)]="order.place">
          <option *ngFor="let place of places;" value="{{place.name}}">{{ place.name }}</option>
        </select>
      </div>
      <div class="col-md-4 form-group">
        <button class="btn btn-success col-md-4"
                *ngIf="state === 'add'"
                (click)="addOrder()"
                [disabled]="!order.delivery || !order.place">Add Order</button>

        <button class="btn btn-success col-md-4"
                *ngIf="state === 'edit'"
                (click)="updateOrder()"
                [disabled]="!order.delivery || !order.place">Update Order</button>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-row">
      <div class="col-md-4 form-group">
        <label class="col-form-label">Filter by:</label>
      </div>
      <div class="col form-group">
        <select class="form-control" [(ngModel)]="filterMonth" (change)="filterOrdersBy($event.target.value)">
          <option value="this_month">This Month</option>
          <option value="prev_month">Prev Month</option>
          <option value="all">All</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" *ngIf="orders && orders.length !== 0">
    <app-order-item *ngFor="let item of orders; let i = index;"
                    [key]="item.key"
                    (onEditOrder)="onEdit(item)"
                    (onDeleteOrder)="onDelete(item, i)"
                    (onMarkCompleted)="onComplete($event, item.key)"></app-order-item>
  </div>
  <div class="col-md-12" *ngIf="orders && orders.length === 0">
    <div class="jumbotron">
      <h3>No orders yet for this month</h3>
    </div>
  </div>
</div>
