<div class="card">
  <div class="card-header" (click)="collapsed = !collapsed">
    <div class="row">
      <div class="col-sm-10">
        <div class="row">
          <div class="col-sm"><b>Delivery:</b> {{ order.delivery}}</div>
          <div class="col-sm"><b>Date:</b> {{ order.date | date }}</div>
          <div class="col-sm"><b>Place:</b> {{ order.place }}</div>
          <div class="col-sm" *ngIf="order.completed"><b>Sum:</b> {{ order.sum | currency:'UAH'}}</div>
        </div>
      </div>
      <div class="col-sm-2 actions" *ngIf="!order.completed">
        <i class="material-icons" (click)="editOrder(order)">edit</i>
        <i class="material-icons" (click)="deleteOrder(order)">delete</i>
      </div>
      <div class="col-sm-2 text-right" *ngIf="order.completed">
        <i class="material-icons done">done</i>
      </div>
      <!--<div class="col-sm"><b>Sum:</b> {{ order.sum | currency:'UAH':'symbol-narrow':'3.2-2' }}</div>-->
    </div>
  </div>
  <div class="card-body" *ngIf="!order.completed || !collapsed">
    <div class="row">
      <div class="col-md-12 form-group">
        <table class="table table-sm table-striped">
          <thead>
          <tr>
            <th scope="col">Person</th>
            <th scope="col">Link</th>
            <th scope="col">Meal</th>
            <th scope="col">Drink</th>
            <th scope="col">Ready</th>
            <th scope="col" *ngIf="!order.completed">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of order.items; let i = index;">
            <td>{{ row.person }}</td>
            <td class="link">
              <a href="{{ row.link }}" target="_blank">{{ row.link }}</a>
            </td>
            <td>{{ row.meal }}</td>
            <td>{{ row.drink }}</td>
            <td>
              <i *ngIf="row.ready" class="material-icons done">done</i>
            </td>
            <td class="actions" *ngIf="!order.completed">
              <i class="material-icons" (click)="changeRowState(row)">done</i>
              <i class="material-icons" (click)="editOrderRow(row, i)">edit</i>
              <i class="material-icons" (click)="deleteOrderRow(i)">delete</i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-striped">
          <tr *ngFor="let meal of orderMeals">
            <td width="90%">{{ meal.name }}</td>
            <td width="10%">{{ meal.amount }}</td>
          </tr>
        </table>
      </div>
    </div>
    <hr>
    <span *ngIf="!order.completed">
      <div class="row">
        <div class="col-md-12">
          <div class="form-row">
            <div class="col-md-2 form-group">
              <input type="text" class="form-control" placeholder="Person" [(ngModel)]="orderItem.person">
            </div>
            <div class="col-md form-group">
              <input type="text" class="form-control" placeholder="Link" [(ngModel)]="orderItem.link">
            </div>
            <div class="col-md form-group">
              <input type="text" class="form-control" placeholder="Meal" [(ngModel)]="orderItem.meal">
            </div>
            <div class="col-md form-group">
              <input type="text" class="form-control" placeholder="Drink" [(ngModel)]="orderItem.drink">
            </div>
            <div class="col-md form-group">
              <button class="btn btn-primary"
                      *ngIf="state === 'add'"
                      (click)="addOrderRow()"
                      [disabled]="!orderItem.meal || !orderItem.person">Add</button>
              <button class="btn btn-primary"
                      *ngIf="state === 'edit'"
                      (click)="updateOrderRow()"
                      [disabled]="!orderItem.meal || !orderItem.person">Update</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-9 form-group">
            <input type="text" class="form-control" placeholder="Sum" [(ngModel)]="order.sum">
          </div>
          <div class="col form-group">
            <button class="btn btn-success"
                    [disabled]="order.sum == 0 || (order.items || []).length === 0"
                    (click)="markCompleted(order)">Mark Completed</button>
          </div>
        </div>
      </div>
    </div>
    </span>
  </div>
</div>
