<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm"><b>Delivery:</b> {{ order.delivery}}</div>
      <div class="col-sm"><b>Date:</b> {{ order.date | date }}</div>
      <div class="col-sm"><b>Place:</b> {{ order.place }}</div>
      <!--<div class="col-sm"><b>Sum:</b> {{ order.sum | currency:'UAH':'symbol-narrow':'3.2-2' }}</div>-->
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <table class="table table-striped table-responsive-md">
          <thead>
          <tr>
            <th scope="col">Person</th>
            <th scope="col">Link</th>
            <th scope="col">Meal</th>
            <th scope="col">Drink</th>
            <th scope="col">Ready</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of order.items">
            <td>{{ row.person }}</td>
            <td class="link">
              <a href="{{ row.link }}" target="_blank">{{ row.link }}</a>
            </td>
            <td>{{ row.meal }}</td>
            <td>{{ row.drink }}</td>
            <td>{{ row.ready }}</td>
            <td>
              <i class="material-icons" (click)="row.ready = true">done</i>
              <i class="material-icons">delete</i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-row">
          <div class="col-2">
            <input type="text" class="form-control" placeholder="Person" [(ngModel)]="orderItem.person">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Link" [(ngModel)]="orderItem.link">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Meal" [(ngModel)]="orderItem.meal">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Drink" [(ngModel)]="orderItem.drink">
          </div>
          <button class="btn btn-primary" (click)="addRow()">Add</button>
        </div>
      </div>
    </div>
  </div>
</div>
